<%- include("partials/header", { title }) %>

<div class="page-content">
  <h2>Service Project Categories</h2>

  <div class="card">
    <ul>
      <% if (categories && categories.length > 0) { %>
        <% categories.forEach(category => { %>
          <li>
            <a href="/category/<%= category.category_id %>">
              <%= category.category_name %>
            </a>
          </li>
        <% }) %>
      <% } else { %>
        <li>No categories found.</li>
      <% } %>
    </ul>
  </div>
</div>


<%- include("partials/footer", { currentYear }) %>