<%- include("partials/header", { title }) %>

<div class="home-content">
  <h2>Welcome to the CSE 340 Project Site</h2>

  <div class="card home-card">
    <img src="/images/home.jpg" alt="Community Service">
  </div>

  <p class="home-description">
    This site showcases organizations, service projects,
    and categories that support communities.
  </p>
</div>

<%- include("partials/footer", { currentYear }) %>